a { text-decoration: none; color: white;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


.nav{
    color: white;
    background-color: black;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.theater-banner {
    position: relative;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.show_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20vh;
    
}

.all_shows {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.btn {
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 10vh;
    

    
}
p {
    font-family: 'Roboto', sans-serif;  
    padding-left: 10vh;
    color: white;
}